<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.neu.dao.GoodsDao">
	<insert id="insertGoods" parameterType="cn.neu.bean.Goods">
		<selectKey resultType="int" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into
		`goods`(`name`,`count`,`type`,`price`) values(
		#{name,jdbcType=VARCHAR},
		#{count,jdbcType=INTEGER},
		#{type,jdbcType=INTEGER},
		#{price,jdbcType=DOUBLE}
		)
	</insert>
	<update id="updateGoods" parameterType="cn.neu.bean.Goods">
		update `goods` set id = #{id,jdbcType=INTEGER}
		<if test="name !=null">
			, `name` = #{name,jdbcType=VARCHAR}
		</if>
		<if test="count !=null">
			, `count` = `count` + #{count,jdbcType=INTEGER}
		</if>
		<if test="type !=null">
			, `type` = #{type,jdbcType=INTEGER}
		</if>
		<if test="price !=null">
			, `price` = #{price,jdbcType=DOUBLE}
		</if>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="listGoods" parameterType="cn.neu.dto.GoodsDto"
		resultType="cn.neu.bean.Goods">
		select * from `goods` where 1=1 
		<if test="type !=null">
			and `type` = #{type,jdbcType=INTEGER}
		</if>
		<if test="listZero == false">
			and `count` >0
		</if>
		limit #{start},#{limit}
	</select>
</mapper>