<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.neu.dao.UserDao">
	<insert id="insert" parameterType="cn.neu.bean.User">
		<selectKey resultType="int" order="AFTER" keyProperty="id">
			select last_insert_id()
		</selectKey>
		insert into
		`user`(`username`,`password`,`phone`,`email`) values(
		#{username,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{phone,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR}
		)
	</insert>

	<select id="select" parameterType="cn.neu.bean.User" resultType="cn.neu.bean.User">
		select * from `user` where
		`username` = #{username,jdbcType=VARCHAR} and `password` =
		#{password,jdbcType=VARCHAR}
	</select>
</mapper>