<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.neu.dao.UserDao">
	<insert id="insert" parameterType="cn.neu.bean.User">
		<selectKey resultType="int" order="AFTER" keyProperty="id">
			select last_insert_id()
		</selectKey>
		insert into
		`user`(`username`,`password`,`phone`,`email`,`permission`)
		values(
		#{username,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{phone,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR},
		#{permission}
		)
	</insert>

	<select id="select" parameterType="cn.neu.bean.User" resultType="cn.neu.bean.User">
		select * from `user` where
		`username` = #{username,jdbcType=VARCHAR}
		and `password` =
		#{password,jdbcType=VARCHAR}
	</select>
	<select id="getUserById" parameterType="int" resultType="cn.neu.bean.User">
		select * from `user` where id = #{id}
	</select>
	<select id="getUserByName" parameterType="String" resultType="cn.neu.bean.User">
		select * from `user` where `username` = #{username}
	</select>
	<select id="checkUserInfo" parameterType="cn.neu.bean.User"
		resultType="int">
		select count(*) from `user` where `username` = #{username}
		<if test="phone!=null">
			and `phone` = #{phone}
		</if>
		<if test="email!=null">
			and `email` = #{email}
		</if>
	</select>
	<update id="changePwd" parameterType="cn.neu.bean.User">
		update `user` set
		`password` = #{password} where `username` = #{username}
	</update>
	<select id="checkPermission" parameterType="cn.neu.bean.User"
		resultType="int">
		select `permission` from `user` where `id` = #{id}
	</select>
</mapper>